@if(TempData["success"]!= null){
    <div class=" alert alert-success notification">
    @TempData["success"] @*  màu xanh *@
    </div>
}
@if(TempData["error"]!= null){
    <div class=" alert alert-danger notification">
        @TempData["error"] @* màu đỏ *@
    </div>
}
