<div class="left-sidebar" style="border: 2px solid red">
	<h2 style="color:black">DANH MỤC</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		 <vc:categories></vc:categories>
		
	</div><!--/category-products-->
	<h2 style="color:black">THƯƠNG HIỆU</h2>
	<div class="panel-group category-products" id="accordian">
		
		<vc:brands></vc:brands>

	</div><!--/brands_products-->

</div>